@import "./variables.scss";

.wrapper {
    border: 0.1rem solid $border-color; // 1.6px
    background-color: $secondary-bg-color;
    text-wrap: nowrap;
    color: #008000;
    width: 5.6rem; // 80px
    height: 2rem; // 32px
    border-radius: 0.5rem; // 8px
    font-family: $main-font-family;
    font-weight: 600;
    margin: 0.32rem; // 5px
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: #cacaca; 
    }
} 

